/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(20,25,34);
}

/* standard view (x-small) */

/* app body */
.container {
    width: 100%;
}

/* side bar */
.sidebar {
    width: 50px;
    height: calc(100vh - 60px);
    background-color: #000;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .logo {
    margin: 8px;
    cursor: pointer;
}
.sidebar .menu li {
    padding: 8px;
    cursor: pointer;
}
.sidebar-top img {
    width: 34px;
}
.sidebar-bottom div {
    text-align: center;
    padding: 5px 0;
}
.sidebar-bottom #install img {
    width: 20px;
}
.sidebar-bottom #user img {
    width: 25px;
    background-color: grey;
    border-radius: 100%;
}


/* content */
.main-top {
    width: 100%;
    height: 70px;
    background-color: rgb(9,11,19);
    position: fixed;
}
.main-body {
    padding-top: 70px;
    margin-left: 50px;
}

/* footer */
footer {
    width: 100%;
    height: 60px;
    background-color: rgb(40,40,40);
    position: fixed;
    z-index: 1;
}



/* small view */
@media screen and (min-width: 576px) {
    
    /* side bar */
    .sidebar {
        width: 300px;
    }

    /* content */
    .main-body {
        margin-left: 300px;
    }
}

/* medium view */
@media screen and (min-width: 768px) {
    
}

/* large view */
@media screen and (min-width: 992px) {
    
}



/* debug */
.debug .container {
    /* background-color: #fff; */
    height: calc(100vh - 60px);
}
.debug main {
    /* background-color: grey; */
    /* width: calc(100% - 50px); */
}
.debug .main-top {
}