/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.2s;
}
body {
    min-width: 320px;
    background: linear-gradient(rgb(20,25,34), rgb(0,0,0,0.97) 100%);
}
a {
    text-decoration: none;
}
h2 {
    color: white;
}
h3 {
    color: white;
    padding-top: 10px;
    font-size: 13px;
}
h4 {
    padding-top: 5px;
    font-size: 11px;
}
i {
    cursor: pointer;
}
.sidebar .menu li:hover span,
.playlist li:hover,
.sidebar-bottom div:hover span,
.main-body .music-menu li:hover a,
.footer-left h5:hover,
.footer-left i:hover,
.card h4:hover,
.player-commands i:hover {
    color: white;
}


/* standard view (x-small) */

/* app body */
.container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    overflow-y: hidden;
}

/* side bar */
.sidebar {
    width: 50px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .logo {
    margin: 8px;
    cursor: pointer;
}
#big-logo {
    display: none;
}
.sidebar .menu li {
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar .menu span {
    display: none;
    transition: 0.3s;
}
.sidebar .menu img {
    width: 34px;
}
.playlist {
    display: none;
}
.sidebar-bottom div {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}
.sidebar-bottom #install img {
    width: 20px;
    margin-right: 3px;
}
.sidebar-bottom #user img {
    padding: 2px;
    width: 20px;
    background-color: grey;
    border-radius: 100%;
}
.sidebar-bottom span {
    display: none;
}


/* content */
main {
    width: calc(100% - 50px);
    position: relative;
}
.main-top {
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 2;
}
.main-top #upgrade-btn {
    position: absolute;
    top: 15px;
    right: 60px;
    font-size: 14px;
    color: white;
    line-height: 16px;
    text-transform: uppercase;
    padding: 8px 27px;
    border-radius: 18px;
    border: 1px solid grey;
    background-color: black;
    cursor: pointer;
}
.main-top #upgrade-btn:hover {
    scale: 1.05;
    border: 2px solid white;
    border-radius: 20px;
}
.main-body {
    height: 100%;
    padding: 80px 15px 0;
    overflow-y: auto;
}
.music-menu ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.music-menu li {
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 0 7px;
    padding-top: 10px;
    cursor: pointer;
}
.music-menu li:first-of-type a{
    color: white;
}
.music-menu .underline {
    margin: auto;
    margin-top: 5px;
    width: 40px;
    height: 2px;
    background-color: rgb(28,215,96);
    opacity: 0;
}
.music-menu li:first-of-type .underline {
    opacity: 1;
}
.music-menu li:hover .underline {
    opacity: 1;
}
.section-title {
    padding: 25px 0;
}
.section-cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(((100vw - (100vw - 100%)) - 10px) / 2);
    margin-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0s background-color 0.2s;
    border-radius: 5px;
}
.card .music-art:hover {
    scale: 0.98;
}
.card h3,
.card h4 {
    cursor: pointer;
}
/* margine laterale da togliere da una card */
@media screen and (max-width: 767px) {
    .card:nth-of-type(even) {
        margin-right: 0;
    }
}
.card .music-art {
    width: 100%;
    height: calc((100vw - 95px) / 2);
    background-size: cover;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px 15px black;
}
.music-art:hover .layover {
    opacity: 1;
    border-radius: 4px;
}
.music-art .layover {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
}
.favorite-artist .layover {
    background-color: transparent;
}
.favorite-artist .music-art {
    box-shadow: 5px 5px 25px black;
}
.favorite-artist .card:hover {
    background-color: rgba(255,255,255,0.1);
}
.card i {
    font-size: 20px;
    color: white;
}
.card .play-circle {
    height: 20%;
    width: 20%;
    background-color: rgb(28,215,96);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    box-shadow: 3px 3px 15px black;
}
#recent-cube1 {
    background-image: url(../img/hybrid.jpg);
}
#recent-cube2 {
    background-image: url(../img/trench.png);
}
#recent-cube3 {
    background-image: url(../img/billie_album.png);
}
#recent-cube4 {
    background-image: url(../img/panic.jpeg);
}
#recent-cube5 {
    background-image: url(../img/blanco.jpeg);
}
#recent-cube6 {
    background-image: url(../img/muse.jpeg);
}
#user-cube1 {
    background-image: url(../img/radar.jpeg);
}
#user-cube2 {
    background-image: url(../img/mixdaily.jpeg);
}
.favorite-artist .music-art {
    border-radius: 100%;
}
#artist-circle1 {
    background-image: url(../img/linkin.jpeg);
}
#artist-circle2 {
    background-image: url(../img/twenty.png);
}
#artist-circle3 {
    background-image: url(../img/neighbourhood.jpeg);
}
#artist-circle4 {
    background-image: url(../img/shinoda.jpeg);
}
#artist-circle5 {
    background-image: url(../img/billie.jpeg);
}

/* footer */
footer {
    width: 100%;
    height: 60px;
    background-color: rgb(24,24,24);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.footer-left,
.footer-right,
.footer-center {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}
.footer-left .song-playing, .footer-right .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 190px;
}
.footer-left .song-playing i, .footer-right .options i {
    font-size: 10px;
}
.song-playing {
    padding-left: 10px;
}
.song-playing .song-art {
    min-width: 20px;
    height: 20px;
    background-image: url(../img/minutes.jpeg);
    background-size: cover;
    margin-right: 5px;
    cursor: pointer;
}
.song-info {
    flex: 1;
    overflow: hidden;
}
.song-info h4 {
    color: white;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
}
.song-info h5 {
    font-size: 10px;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-info h5:hover {
    text-decoration: underline;
}
.song-favorite {
    padding: 0 10px;
}
.song-favorite i {
    display: block;
    padding: 3px;
}
.footer-center {
    flex-direction: column;
    justify-content: center; 
}
.player-commands {
    width: 100%;
    max-width: 200px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.player-commands i {
    color: grey;
}
.player-commands .selected {
    position: relative;
}
.selected span {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    cursor: pointer;
}
.player-commands .selected i, .selected span {
    color: rgb(28,215,96);
}
.player-commands .play-circle {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 100%;
    cursor: pointer;
}
.player-commands .play-circle i {
    color: black;
    font-size: 10px;
}
.player-commands .play-circle:hover {
    scale: 1.1;
}
.player-bar {
    width: 100%;
    max-width: 400px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
}
.player-bar span {
    color: white;
    font-weight: 500;
    cursor: default;
}
.bar {
    background-color: grey;
    height: 3px;
    flex: 1;
    border-radius: 1.5px;
}
.bar-filler {
    background: white;
    height: 100%;
    border-radius: 1.5px;
    position: relative;
    transition: 0.1s;
}
.bar-circle {
    position: absolute;
    right: -3px;
    top: -3px;
    border-radius: 100%;
    height: 9px;
    width: 9px;
    background-color: #fff;
    opacity: 0;
    transition: 0.1s;
}
.player-bar:hover .bar-filler {
    background: rgb(28,215,96);
}
.player-bar:hover .bar-circle {
    opacity: 1;
}
.player-bar .bar {
    margin: 0 5px;
}
.player-bar .bar-filler {
    animation: bar-progress 10s linear infinite;
}
@keyframes bar-progress {
    0% {width: 0%;}
    100% {width: 100%;}
}
.player-bar .blink {
    animation: blink 1s step-start 0s infinite;
}
@keyframes blink {
    50% {opacity: 0;}
}
.footer-right {
    justify-content: flex-end;
}
.footer-right .options {
    padding: 0 10px;
}
.options i {
    padding: 0 3px;
    color: white;
}
.options .volume {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.volume .bar-filler {
    width: 70%;
}
.volume:hover .bar-filler {
    background: rgb(28,215,96);
}
.volume:hover .bar-circle {
    opacity: 1;
}



/* small view */
@media screen and (min-width: 576px) {
    
    /* side bar */
    .sidebar {
        width: 200px;
    }
    .sidebar .logo {
        margin: 12px;
    }
    #small-logo {
        display: none;
    }
    #big-logo {
        display: block;
        width: 130px;
    }
    .sidebar .menu li, .sidebar-bottom {
        padding: 6px 20px;
    }
    .sidebar .menu li {
        padding-left: 16px;
        border-left: 4px solid black;
    }
    .sidebar .menu li:first-of-type {
        padding-left: 16px;
        border-left: 4px solid rgb(28,215,96);
    }
    .sidebar .menu li:hover {
        border-left: 4px solid rgb(28,215,96);
    }
    .sidebar .menu img {
        width: 25px;
        vertical-align: middle;
    }
    .sidebar .menu span {
        display: inline;
        margin-left: 5px;
        font-size: 15px;
    }
    .sidebar .menu li:first-of-type span {
        color: white;
    }
    .playlist {
        display: block;
        margin-top: 15px;
        padding: 6px 0 6px 20px;
    }
    .playlist h3 {
        text-transform: uppercase;
        font-size: 17px;
        cursor: default;
    }
    .new-playlist {
        display: flex;
        align-items: center;
        margin-top: 7px;
        font-size: 14px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .new-playlist span:first-of-type {
        display: block;
        height: 30px;
        width: 30px;
        background-color: lightgrey;
        color: black;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin-right: 8px;
    }
    .new-playlist:hover span:first-of-type {
        background-color: #fff;
    }
    .new-playlist:hover span:last-of-type {
        color: white;
    }
    .playlist-list {
        overflow-y: auto;
        height: calc(100vh - 440px);
    }
    .playlist-list li {
        list-style: none;
        padding: 5px 0;
        font-size: 14px;
        cursor: pointer;
    }
    .sidebar-bottom div {
        text-align: left;
        padding: 5px 0;
        display: flex;
        align-items: center;
    }
    .sidebar-bottom div:first-of-type {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        margin-bottom: 5px;
    }
    .sidebar-bottom span {
        display: inline-block;
        margin-left: 7px;
    }
    .sidebar-bottom div:first-of-type span {
        font-size: 11px;
    }
    .sidebar-bottom div:last-of-type span {
        font-size: 13px;
        font-weight: 700;
        color: white;
    }

    /* content */
    .container {
        height: calc(100vh - 80px);
    }
    main {
        width: calc(100% - 200px);
    }
    .main-top #upgrade-btn {
        right: 210px;
    }
    .card {
        width: calc(((100vw - (100vw - 100%)) - 10px) / 2);
    }
    .card .music-art {
        height: calc((100vw - 245px) / 2);
    }

    /* footer */
    footer {
        height: 80px;
    }
    .song-playing .song-art {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .song-info h4 {
        font-size: 15px;
    }
    .song-info h5 {
        font-size: 12px;
    }
    .song-info {
    align-self: flex-start;
    }
    .footer-left .song-favorite {
        padding: 0;
    }
    .footer-left .song-favorite i {
        display: inline-block;
        padding: 0;
        padding-left: 10px;
        font-size: 17px;
    }
    .footer-right .options i {
        font-size: 17px;
        padding-right: 10px;
    }
}

/* medium view */
@media screen and (min-width: 768px) {

    /* content */
    .card {
        width: calc(((100vw - (100vw - 100%)) - 30px) / 4);
        margin-right: 10px;
    }
    @media screen and (max-width: 991px) {
        .card:nth-of-type(4n+0) {
            margin-right: 0;
        }
    }
    .card .music-art {
        height: calc((100vw - 265px) / 4);
    }
    .card i {
        font-size: 16px;
    }
    .card .play-circle {
        height: 25%;
        width: 25%;
    }
}

/* large view */
@media screen and (min-width: 992px) {
    
    /* content */
    .card {
        width: calc(((100vw - (100vw - 100%)) - 50px) / 6);
        max-width: 181px;
        margin-right: 10px;
    }
    .card:nth-of-type(6n+0) {
        margin-right: 0;
    }
    .card .music-art {
        height: calc((100vw - 285px) / 6);
        max-height: 181px;
    }

    /* footer */
    footer {
        padding: 0 10px;
    }
    .song-playing .song-art {
        width: 50px;
        height: 50px;
    }
    .footer-left .song-playing, .footer-right .options {
        max-width: 240px;
    }
}

/* x-small view landscape */
@media screen and (max-width: 575px) and (max-height: 320px) {
    .sidebar .menu img {
        width: 24px;
    }
    .sidebar .menu li {
        padding: 5px 13px;
    }
}

/* other views landscape */
@media screen and (max-height: 430px) {
    .sidebar {
        overflow-y: auto;
    }
}


/* debug */
/* .debug .container {
    background-color: #fff;
} */
/* .debug main {
    background-color: grey;
    width: calc(100% - 50px);
} */
/* .debug .main-top {
} */

/* .debug .music-menu {
    background-color: #fff;
} */
/* .debug .card {
    background-color: skyblue;
    border: 1px solid black;
    height: 300px;
} */
/* .debug .music-art {
    background-color: lightyellow;
} */
/* .debug .footer-left,
.debug .footer-right,
.debug .footer-center {
    height: 100%;
    border: 1px solid black;
} */
/* .debug .player-commands {
    background-color: skyblue;
} */
/* .debug .player-bar {
    background-color: lightyellow;
} */
/* .debug .options {
    background-color: #fff;
} */